/* lato-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/lato-v23-latin-regular.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v23-latin-regular.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/lato-v23-latin-700.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v23-latin-700.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/lato-v23-latin-900.woff2') format('woff2'),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('../fonts/lato-v23-latin-900.woff') format('woff');
    /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
}

/*------------------------------------- */
/* Header */

.header {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
}

.wrapper {
    width: 1060px;
    margin: 0 auto;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 62px;
}

.header__logo {}

.header__logo-link {}

.header__logo-pic {}

.header__nav {}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__item {
    margin-right: 82px;
    list-style-type: none;
}

.header__item:last-child {
    margin-right: 0px;
}

.header__link {
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__link:hover,
.header__link:focus {
    filter: brightness(60%);
    transition: 0.2s;
}

.header__link:active {
    color: #ffde24;
}

/* Header end*/
/*------------------------------------- */




/*------------------------------------- */
/* Main*/
.main {}

/* Intro */

.intro {
    min-height: 100vh;
    background: url(../img/intro_background.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
}

.intro__title {
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
}

.intro__subtitle {
    max-width: 546px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 60px;
}

.search-form__info {
    display: flex;
    flex-wrap: wrap;
    border: none;
}

.search-form__field {
    width: 297px;
    border: none;
    border-bottom: 2px solid #BFC0C5;
    outline: none;
    outline-offset: none;
    background: transparent url(../img/svg/sircle-ico.svg) no-repeat left 5px;
    padding-left: 42px;
    padding-bottom: 22px;
    margin-right: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.search-form__field::placeholder {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}


.search-form__submit {
    padding: 15px 40px;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
    background: #1B7DFF;
    letter-spacing: 0.5px;
    border: none;
}
.search-form__submit:active {
    background-color: #ffde24;
   
}
.search-form__submit:hover, .search-form__submit:focus {
    filter: brightness(85%);
    transition: 0.2s;
}

/* Intro end*/

/* Main end*/
/*------------------------------------- */